@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}


/* Header */

.header {
    background-color: #410875;
    margin: 0;
    color: white;
    padding: 0px 200px;
    padding-bottom: 100px;
}

.h-head {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h-head h3 {
    font-size: 24px;
    font-weight: 900;
}

.h-content {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.h-content .about-site {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.h-content .about-site .main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.h-content .about-site .secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.h-content .about-site .sign-up-1 {
    background-color: #ff11ac;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
}

.h-content .img-placeholder {
    background-color: #adadee;
    padding: 30px 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Body */

        /* Section 1: Infos */

.infos {
    padding: 0 200px;
}

.infos .info-head {
    padding: 60px;
    font-size: 32px;
    color: #410875;
    font-weight: 800;
    text-align: center;
}

.infos .info-body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding-bottom: 150px;
}

.infos .info-body div {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.infos .info-body .info-squares {
    height: 150px;
    border: 5px solid #a455ff;
    border-radius: 15px;
}

.infos .info-body .info-subtext {
    text-align: center;
    color: #3f3f3f;
}

        /* Section 2: Quote */

.quote {
    background-color: #deceee;
    padding: 100px 370px;
    color: #1f2937;
}

.quote .quote-body {
    padding: 10px 0;
    font-size: 32px;
    font-weight: 100;
    font-style: italic;
}

.quote .quote-by {
    font-size: 22px;
    font-weight: bold;
    text-align: right;
}


        /* Section 3: Call to action */

.signup-section {
    padding: 80px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-section .container {
    background-color: #0080ff;
    color: white;
    padding: 50px 100px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}

.signup-section .content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.signup-section .content .call-to-action {
    font-size: 24px;
    font-weight: 900;
}

.signup-section .content .sub-text {
    font-size: 18px;
    font-weight: 400;
}

.signup-section .container .sign-up-2 {
    background-color: #0080ff;
    color: white;
    border: 3px solid white;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
}